*{
   margin: 0;
  padding: 0;
 box-sizing: border-box;
}

font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
  max-width: 1600px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  
}
 
nav .logo{
  width: 139px;
  height: 60px;
  padding: 16px 120px 16px ;

}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-right: 120px;
}
nav .menu a{
  font-size: 16px;
  color: black;
  text-decoration: none;
  line-height: 152%;
}
.btn{
  background-color: #30B868;
  width: 164px;
  height: 44px;
  border-radius: 4px;
  margin-right:120px ;
margin: 24px;
margin-bottom: 24px;
font-size: 16px;
font-weight: 600px;
color: white;
}
#banner{
  background-image: url(../assets/hero-bg.png);
  width: 1600px;
  height: 674px;
  position: relative;
  background-size: cover;
}
#banner .btn1{
  width: 229px;
  height: 35px;
  padding: 8px auto;
  margin: 115.5px 685.5px 16px 684.5px;
  margin-bottom: 0;
  border-radius: 1000px;
  font-size: 16px;
  color: #30B868;
  cursor: pointer;
  
}
#banner .heading h1{
 width: 770px;
  height: 168px;
  margin: 16px 415px;
  text-align: center;
  color: white;


}
#banner .heading .heading-color{
  color: #30B868;
}
#banner .banner-content p {
color: white;
width: 1320px;
height: 60px;
line-height: 24px;
font-size: 18px;
margin-left: 120px;
margin-right: 120px;
text-align: center;

}
#banner .btn2{
  background-color: #30B868;
  width: 251px;
  height: 52px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600px;
  color: white;
  border: none;
  cursor: pointer;

}
#banner .btn3{
  width: 198px;
  height: 52px;
  border-radius: 4px;
  background: transparent;
  font-size: 16px;
  font-weight: 600px;
  border: 1px solid white;
  padding: 16px 12px;
  color: white;
  cursor: pointer;
  
}
#banner .button-design{
  gap: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 179.5px;
}
#heading-container{
  width: 1360px; 
  height: 152px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
#heading-container h1{
  font-size: 48px;
  font-weight: bold;         
  color:#001931;

}
#heading-container p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
#card{
  display: flex;
  width: 1360px;
  height: 300px;
  margin-left:120px ;
  margin-right: 120px;
  gap: 24px;
  text-align: center;
  justify-content: center;
  
}
#card .card1 {
  border: 1px solid black;
  box-shadow: 5px 5px 5px 5px wheat;
  padding: 24px 24px;

}

#card .card2 {
  border: 1px solid black;
  box-shadow: 5px 5px 5px 5px wheat;
  padding: 24px 24px;
}

#card .card3 {
  border: 1px solid black;
  box-shadow: 5px 5px 5px 5px wheat;
  padding: 24px 24px;
}

#card .card4 {
  border: 1px solid black;
  box-shadow: 5px 5px 5px 5px wheat;
  padding: 24px 24px;
}
#card .card1 h2{
  font-size: 24px;
  font-weight: 600px;
  color: #001931;
  
}
#card .card1 p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
#card .card2 h2{
  font-size: 24px;
  font-weight: 600px;
  color: #001931;
  
}
#card .card2 p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
#card .card3 h2{
  font-size: 24px;
  font-weight: 600px;
  color: #001931;
  
}
#card .card3 p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
#card .card4 h2{
  font-size: 24px;
  font-weight: 600px;
  color: #001931;
  
}
#card .card4 p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
#the-solution{
  box-sizing: border-box;
  margin: 120px;
  width: 1360px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  gap: 60px;
}
#the-solution .knowledge-img{
  width: 600px;
  height: 600px;
  border-radius: 12px;
}
#the-solution span{
  font-size: 16px;
  color: #30B868;
}
#the-solution .heading1 h2{
  font-weight: bold;
  font-size: 48px;
  color: #001931;
  margin-top: 16px;
  margin-bottom: 16px;
}
#the-solution p{
  line-height: 20px;
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
  max-width: 450px;
}

#the-solution .check-circle{
  font-size: 16px;
  color:#001931;
justify-content: space-around;
}

#optional{
  margin: 120px;
  border:1px solid black;
  background-color: #F7F6F2;
  width: 1360px;
  height: 384px;
  gap: 24px;
  padding: 40px 40px;
  text-align: center;
  justify-content: center;
}
 

 .improve h2{
  font-weight: bold;
  font-size: 40px;
  color: #001931;
}
.improve p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-top: 16px;
}
.information button{
  height: 52px;
  width: 194px;
  padding: 16px 12px;
  border-radius: 4px;
  gap: 10px;
  background-color: #30B868;
  font-size: 16px;
  font-weight: 600px;
  color: white;
  margin-top: 24px;
  border:none;
}
.information p{
  width: 1240px;
  height: 20;
  font-size: 18px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 80px;
}











